{
  "presets": [
    "stage-0",
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 versions"
        },
        "loose": true,
        "module": "false"
      }
    ]
  ],
  "retainLines": true
}
