<div class="row">
  <div class="col m6">
    <div ng-repeat="o in surveyEmailSettings.column1Data" class="__slider">
      <img ng-src="/images/slider.png" /><br>
      {{o.text[surveyEmailSettings.emailSettings.language].toUpperCase()}}
    </div>
  </div>
  <div class="col m6">
    <div ng-repeat="o in surveyEmailSettings.column2Data" class="__slider">
      <img ng-src="/images/slider.png" /><br>
      {{o.text[surveyEmailSettings.emailSettings.language].toUpperCase()}}
    </div>
  </div>
</div>
