<!-- <div class="row">
  <div class="col m6">
    <div ng-repeat="o in surveyEmailSettings.column1Data" class="__word">
      {{o.data}}
    </div>
  </div>
  <div class="col m6">
    <div ng-repeat="o in surveyEmailSettings.column2Data" class="__word">
      {{o.data}}
    </div>
  </div>
</div>
-->

<table class="word-table">
  <tr ng-repeat="o in surveyEmailSettings.column1Data track by $index">
    <td class="__word" width="50%">{{o.text[surveyEmailSettings.emailSettings.language].toUpperCase()}}</td>
    <td class="__word" width="50%" ng-if="surveyEmailSettings.column2Data[$index]">
      {{surveyEmailSettings.column2Data[$index].text[surveyEmailSettings.emailSettings.language].toUpperCase()}}
    </td>
    <td width="50%" ng-if="!surveyEmailSettings.column2Data[$index]">
      &nbsp;
    </td>
  </tr>
</table>
