<h1>Feedbackly Privacy Policy</h1>

<p>
  Company: Tapin Solutions Oy (business ID: 2491940-9)
</p>

<p>
  Itämerenkatu 1
  <br>FI-00180 Helsinki, Finland
</p>


<h2>PERSON IN CHARGE AND/OR CONTACT PERSON</h2>

<p>
  Jaakko Männistö
  <br>c/o Feedbackly
  <br>Itämerenkatu 1
  <br>FI-00180 Helsinki, Finland
  <br>Tel. +358 44 3488016
  <br>email: jaakko.mannisto [at] tapin.fi
</p>

<h2>PURPOSE FOR PROCESSING PERSONAL DATA / PURPOSE FOR USING THE REGISTER</h2>

<p>
  The information in the register will be used in the production, development, provision and maintenance of services offered by the controller. The controller complies with valid Finnish legislation on personal data.
  Information on data subjects who have a customer relationship with the controller may be processed during the management, administration, development, analysis and statistics compilation of the customer relationship. This information may be used for the marketing, market surveys and arrangement of marketing competitions by the controller and its partners.
</p>

<p>
  Due to the technical implementation of the processing of the information, this data may be physically located on servers or devices owned by external partners or subcontractors from where they are processed by means of a technical operating connection.
</p>

<h2>PURPOSE FOR PROCESSING PERSONAL DATA / PURPOSE FOR MAINTAINING THE REGISTER</h2>

<p>
  The personal data is processed with the data subject’s consent, on the basis of the customer relationship, or with the service user’s consent. Communications Market Act, Personal Data Act.
</p>

<h2>NAME OF THE REGISTER</h2>

<p>
  Service database of Feedbackly services
</p>

<h2>CONTENT OF THE REGISTER</h2>

<p>
  The register consists of the following data items, among others:
</p>

<p>
  E-mail address, first name, last name, telephone number, log-in time stamp, log-in IP address, address details, organisation, VAT code, other data item reported by the customer.
</p>

<h2>SOURCES OF THE REGISTER / REGULAR SOURCES OF INFORMATION</h2>

<p>
  The controller receives the information from the data subject, a representative of the data subject’s company, or a user of the service.
</p>

<h2>DISCLOSURE OF PERSONAL DATA / REGULAR DISCLOSURE</h2>

<p>
  No personal data is regularly disclosed or transferred outside the European Union (EU) or the European Economic Area (EEA). Information may be disclosed, within limits permitted by valid legislation, within the company for sales or marketing purposes, if permission has been obtained from the data subject. Otherwise, information may only be disclosed to a customer of Tapin Solutions Oy using the service or to a separate partner which enables the provision of the service. A privacy policy on a target company using the services is available on the said target company’s website or upon specific request.
</p>

<p>
  No information is disclosed outside the EU and the European Economic Area, as specified in the law.
</p>

<h2>PROTECTION OF THE REGISTER</h2>

<p>
  All information is stored in systems that are protected by firewalls, passwords and other appropriate technical solutions. Databases and their backup copies are stored in locked and guarded premises, and only certain designated individuals have access to them.
</p>

<h2>RIGHTS OF THE DATA SUBJECT</h2>

<p>
  A registered individual may exercise his or her right of inspection, according to the Personal Data Act, by presenting a written and signed request to do so to Tapin Solutions Oy, or by presenting a request for an inspection during a personal visit to Tapin Solutions Oy’s premises between 10:00 a.m. and 3:00 p.m. on weekdays.
</p>

<p>
  If necessary, Tapin Solutions Oy will correct, supplement or delete any incorrect, incomplete or outdated information in the register at its own initiative or upon justified request by the data subject. In addition, the data subject always has the right to prohibit the controller from disclosing their information for direct marketing purposes. Any request to Tapin Solutions Oy should be made with a written and signed request to Tapin Solutions Oy’s postal address.
</p>
