<ul class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header">
          <i class="material-icons">edit</i> {{ 'Edit' | translate }}
        </div>

        <div class="collapsible-body">
          <form name="form" novalidate>
            <div input-field ng-class="{ 'input-field-error': form.name.$invalid && form.name.$dirty }">
              <input type="text" name="name" ng-model="editChannelGroupForm.channelGroup.name" required ng-minlength="2">
              <label translate>Name</label>
            </div>

            <div class="section input-field" ng-if="editChannelGroupForm.adminMode === 'true'">
              <select ng-model="editChannelGroupForm.channelGroup.type" material-select>
                <option value="" disabled selected>Choose a type</option>
                <option ng-repeat="type in ::editChannelGroupForm.channelTypes" value="{{::type}}">{{::type}}</option>
              </select>

              <label>Type</label>
            </div>

            <button class="btn waves-effect waves-light" ng-click="editChannelGroupForm.save(form.$valid)" ng-disabled="form.$invalid" translate>Save</button>
          </form>
        </div>
    </li>

    <li>
        <div class="collapsible-header">
          <i class="material-icons">record_voice_over</i> {{ 'Feedback channels' | translate }}
        </div>

        <div class="collapsible-body">
          <p class="grey-text" ng-if="editChannelGroupForm.channels.length === 0" translate>
            Nothing here yet
          </p>

          <div ng-if="editChannelGroupForm.channels.length > 0">
            <p ng-repeat="channel in editChannelGroupForm.channels">
              <input type="checkbox" ng-model="channel.chosen" id="channel-{{::channel._id}}" />
              <label for="channel-{{::channel._id}}">{{::channel.name}}</label>
            </p>

            <button class="btn waves-effect waves-light" ng-click="editChannelGroupForm.saveChannels()" translate>Save</button>
          </div>
        </div>
    </li>

    <li>
        <div class="collapsible-header">
          <i class="material-icons">device_hub</i> {{ 'Sub channel groups' | translate }}
        </div>

        <div class="collapsible-body">
          <p class="grey-text" ng-if="editChannelGroupForm.channelGroups.length === 0" translate>
            Nothing here yet
          </p>

          <div ng-if="editChannelGroupForm.channelGroups.length > 0">
            <p ng-repeat="group in editChannelGroupForm.channelGroups">
              <input type="checkbox" ng-model="group.chosen" id="group-{{::group._id}}" />
              <label for="group-{{::group._id}}">{{::group.name}}</label>
            </p>

            <button class="btn waves-effect waves-light" ng-click="editChannelGroupForm.saveChannelGroups()" translate>Save</button>
          </div>
        </div>
    </li>
</ul>
