<div class="b000 face-container">

  <div  class="circle animation-base">
    <svg viewBox="0 0 100 100">
      <circle r="36" cx="46" cy="44"/>
    </svg>
  </div>
  <div  class="circle animation-base">
    <svg viewBox="0 0 100 100">
      <circle r="23" cx="60" cy="68"/>
    </svg>
  </div>
  <div  class="circle animation-base">
    <svg viewBox="0 0 100 100">
      <circle r="23" cx="43" cy="35"/>
    </svg>
  </div>

  <img src="/public/images/faces/svg/face000.svg" class="face-vector face-image">

</div>
