<div class="b075 face-container">

  <div  class="circle animation-base">
    <svg viewBox="0 0 100 100">
      <circle r="36" cx="50" cy="55"/>
    </svg>
  </div>
  <div  class="circle animation-base">
    <svg viewBox="0 0 100 100">
      <circle r="23" cx="66" cy="40"/>
    </svg>
  </div>
  <div  class="circle animation-base">
    <svg viewBox="0 0 100 100">
      <circle r="23" cx="49" cy="63"/>
    </svg>
  </div>

  <img src="/public/images/faces/svg/face075.svg" class="face-vector face-image">


</div>
