<table class="module" role="module" data-type="wysiwyg" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-attributes='%7B%22dropped%22%3Atrue%2C%22padding%22%3A%220%2C0%2C0%2C0%22%2C%22containerbackground%22%3A%22%23ffffff%22%7D'>
<tr>
<td role="module-content" style="padding: 0px 0px 0px 0px;" bgcolor="#ffffff">
<div>
<div style="text-align: center;">
   <table align="center" border="0" cellpadding="0" cellspacing="5" style="width:100%;">
      <tbody>
        <% _.forEach(data, (word, index) => { %>
          <% if(index % 2 === 0){ %>
            <tr>
          <% } %>

           <% include word_component %>

           <% if(index % 2 === 0 && index === data.length -1){ %>
             <td style="text-align: center; height: 40px; vertical-align: middle; width: 50%;"><span>&nbsp;</span></td>
           <% } %>
       <% if(index % 2 === 1 || (index % 2 === 0 && index === data.length -1 )){ %>
         </tr>
       <% } %>
       <% }) %>

      </tbody>
   </table>
</div>
</div>
</td>
</tr>
</table>
