<td style="width: 50%; background-color: rgb(29, 195, 164); text-align: center; vertical-align: middle; height: 35px;">
  <strong style="font-variant-ligatures: normal; font-variant-caps: normal; font-size: 14px; color: rgb(0, 0, 0); text-align: center;">
    <a href="{{link_<%= index %>}}"><span style="color: rgb(255, 255, 255);"><%= word.label %></span></a>
  </strong>
</td>
