    <div class="spinner">
      <img src="/dist/images/spin.svg" />
    </div>

    <script>
      window._CHANNEL_FROM_UDID_REQUEST = <%- JSON.stringify(channel) %>;
    </script>

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="/dist/registration.min.js"></script>
  </body>
</html>
