<% include header %>

    <div class="tutorial container">

    <div class="placeholder"></div>

    <div class="card">
      <div class="inner">
          <h2>Welcome to Feedbackly!</h2>
          <hr>
          <p class="upper">
            Enter your email to create an account
          </p>

          <span class="error">&nbsp;</span>
          <br>
          <input type='text' id='email-field'/>


          <button id='signup-submit' class="scale-start">Create Account</button>
      </div>
          <p><a href="#" id="go-to-settings">Already have an account? <br> Tap here to set up your device.</a></p>
    </div>



      </div>



    <% include footer %>
