<% include header %>

    <div class="container" style="height: 85vh;">
        <h1>Setup your device</h1>
        <hr>
        <div class="subtitle">
          <p>Type in an authorization code to register device.
            The authorization code can be found in channel management under the Feedbackly dashboard.</p>
        </div>

        <div>
          <span id="error" class="hide">Invalid code.</span><br>
          <input type="text" id="udid" placeholder="AUTHORIZATION CODE"/>
        </div>

        <div>
          <button id="saveUdid">SAVE</button> <button id="cancel" class="transparent">CANCEL</button>
        </div>

        <div style="display:none;">
          <a href id="clear">Clear all settings and reset device</a>
        </div>

    </div>

    <div class="confirm">
      <div class="modal-form">
        <p>Are you sure you want to clear all settings and reset the device?</p>

        <button id="clear-device">YES</button> <button id="cancel-clear" class="transparent">NO</button>
      </div>
    </div>

<% include footer %>
