.question-editor-wrapper {
  .button-content {
    .button-container {
      img {
        display: none;
      }

      h3 .editable {
        max-width: 180px;
        margin: 0px auto;
      }

      &.four-buttons, &.five-buttons {
        img {
          display: inline-block;
        }
      }
    }
  }
}
