.question-editor-wrapper {
  .contact-content {
    .contact-container {
      .text-field {
        height: auto !important;
        padding: 10px;

        .editable {
          height: 35px;
        }
      }

      margin-bottom: 10px;
    }
  }
}
