.question-editor-wrapper {
  .slider-content {
    .slider-container {
      max-width: 250px;
    }

    .editable {
      max-width: 190px;
      max-height: 70px;
      margin: 0px auto;
    }

    .slider-title {
      margin-bottom: 10px;
    }
  }
}
