<div class="card-title center-align">Reset password</div>

<loader loading="setPassword.processing"></loader>

<form name="passwordForm" ng-submit="setPassword.submit(passwordForm.$valid)" ng-if="!setPassword.processing" novalidate>
  <div input-field ng-class="{ 'input-field-error': passwordForm.password.$invalid && passwordForm.password.$dirty }">
    <input type="password" ng-model="setPassword.user.password" name="password" ng-minlength="6" required input-autofocus>
    <label>Password</label>
  </div>

  <div input-field ng-class="{ 'input-field-error': passwordForm.confirmPassword.$invalid && passwordForm.confirmPassword.$dirty }">
    <input type="password" ng-model="setPassword.user.confirmPassword" match="setPassword.user.password" name="confirmPassword" ng-minlength="6" required>
    <label>Confirm password</label>
  </div>

  <div class="center-align">
    <button class="btn btn-large waves-effect waves-light" type="submit" ng-class="{ 'disabled': passwordForm.$invalid }">Reset password</button>
  </div>
</form>
