<div class="card-title center-align">Receive password reset link</div>

<loader loading="resetPasswordEmail.processing"></loader>

<form name="emailForm" ng-submit="resetPasswordEmail.submit(emailForm.$valid)" ng-if="!resetPasswordEmail.processing" novalidate>
  <div input-field ng-class="{ 'input-field-error': emailForm.email.$invalid && emailForm.email.$dirty }">
    <input type="text" ng-model="resetPasswordEmail.user.email" name="email" required input-autofocus>
    <label>Email</label>
  </div>

  <div class="center-align">
    <button class="btn btn-large waves-effect waves-light" type="submit" ng-class="{ 'disabled': emailForm.$invalid }">Send reset link</button>
  </div>
</form>
