$mobile-breakpoint: 500px;
$medium-breakpoint: 992px;

$small: 20em; // 320px
$medium: 30em; // medium sized phones
$tablet-p: 48em; // ipad portrait
$tablet-l: 64em; // ipad landscape
$desktop: 75em; // laptop