$minimum-margins: 10px auto 10px auto;
$title-minimum-margins: 30px auto 20px auto;
$title-minimum-margins-landscape: 37px auto 5px auto;
$minimum-margins-landscape: 10px auto;
$progress-bar-height: 7px;
$max-content-width: 1200px;
$max-question-content-width: 850px;
$survey-header-height: 4.5em;
$survey-header-padding: 1em;
$images-per-row: 8;
$base-font-family: Montserrat;
$checkbox-size: 36px;
$question-subtitle-font: Montserrat;
