$turquoise-light: #2FBCA4;
$turquoise-dark: #2FA5A4;
$green-light: #97D149;
$green-dark: #80C350;
$yellow-light: #FFDA6C;
$yellow-dark: #FFC850;
$orange-light: #FFA363;
$orange-dark: #FF8F48;
$red-light: #FE767C;
$red-dark: #EE5D6E;
$gray-light: #C1C2CD;
$gray-dark: #83859B;
$background-color: #edecf1;
$yellow: #ffc107;

.textCyan{
  color: $turquoise-dark;
}

.textGreen{
  color: $green-dark;
}

.textYellow{
  color: $yellow-dark;
}

.textOrange{
  color: $orange-dark;
}

.textRed{
  color: $red-dark;
}
