.end-wrapper {
  h1 {
    text-align: center;
  }

  .powered-by-feedbackly {
    margin-top: 45px;
    text-align: center;

    h3 {
      font-style: normal;
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 15px;
    }

    img {
      max-width: 220px;
      width: 12em;
    }
  }
}
