/.idea/
/.idea/*
/node_modules/
/node_modules/*
/public/lib/**/node_modules/*
.directory
*.log
/public/css
/public/exports
/exports
print.db
.DS_Store
dump.rdb
/public/uploads
environments
.env


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.vscode
/public/app/templates.module.js
/public/dist/dash.min.js
/public/dist/sign-up.min.js
/public/dist/dash.min.css
/public/sign-up-app/templates.module.js

/**/dist
public/dist/survey-editor.min.js
public/app/config/translations.config.js

/v-app/.DS_Store
/v-app/node_modules/
/v-app/dist/
/v-app/npm-debug.log*
/v-app/yarn-debug.log*
/v-app/yarn-error.log*
/v-app/test/unit/coverage
/v-app/test/e2e/reports
/v-app/selenium-debug.log

# Editor directories and files
/v-app/.idea
/v-app/*.suo
/v-app/*.ntvs*
/v-app/*.njsproj
/v-app/*.sln
/v-app/*.swp
/v-app/flow-typed/npm

*lock*
/cypress/videos
/v-dist
/v-app/src/translations.json
