<div class="page">
  <div class="wrapper">

Thank you!
Select a plan to start with.

<div class="row">

    <!-- Free -->

      <div class="price-plan">
        <h3 class="price-plan__name">Free</h3>
        <div class="price-plan__info">
          <h4 class="price-plan__price"><span class="price-plan__currency">€ </span>0<span class="price-plan__frequency"> / mo</span></h4>
          <p class="price-plan__description">Suitable for small and occasional data collection</p><br>

          <ul class="list text-left">
            <h4 class="list__title">Features</h4>
            <li class="list__item">50 monthly respondents</li>
            <li class="list__item">1 User</li>
            <li class="list__item">Unlimited channels</li>
            <li class="list__item">All channel types*</li>
            <li class="list__item">Unlimited surveys</li>
            <li class="list__item">Support level: Knowledge base</li>
          </ul>

          <button id="plan-free" class="choose-plan" ga="page-3-submit-plan-free" data-plan="FREE_PLAN">Choose plan</button>


        </div>
      </div>


      <div class="price-plan">
        <h3 class="price-plan__name">Small</h3>
        <div class="price-plan__info">
          <h4 class="price-plan__price"><span class="price-plan__currency">€ </span>39<span class="price-plan__frequency"> / mo</span></h4>
          <p class="price-plan__description"> Perfect for single website and small companies who want to consistently improve their business</p>

          <ul class="list text-left">
            <h4 class="list__title">Features</h4>
            <li class="list__item">500 monthly respondents</li>
            <li class="list__item">Unlimited same-level users</li>
            <li class="list__item">Unlimited channels</li>
            <li class="list__item">All channel types*</li>
            <li class="list__item">Unlimited surveys</li>
            <li class="list__item">Support level: E-mail</li>
          </ul>

          <button id="plan-small" class="choose-plan" ga="page-3-submit-plan-small" data-plan="SMALL_PLAN">Choose plan</button>


        </div>
      </div>


      <div class="price-plan">
        <h3 class="price-plan__name">Growth</h3>
        <div class="price-plan__info">
          <h4 class="price-plan__price"><span class="price-plan__currency">€ </span>99<span class="price-plan__frequency"> / mo</span></h4>
          <p class="price-plan__description">For growth and middle sized companies and for their continuous data need</p>

          <ul class="list text-left">
            <h4 class="list__title">Features</h4>
            <li class="list__item">5000 monthly respondents</li>
            <li class="list__item">Unlimited same-level users</li>
            <li class="list__item">Unlimited channels</li>
            <li class="list__item">All channel types*</li>
            <li class="list__item">Unlimited surveys</li>
            <li class="list__item">Support level: Phone &amp; E-mail</li>
          </ul>
          <button id="plan-growth" ga="page-3-submit-plan-growth" class="choose-plan" data-plan="GROWTH_PLAN">Choose plan</button>

        </div>
      </div>


      <div class="price-plan">
        <h3 class="price-plan__name">Company</h3>
        <div class="price-plan__info">
          <h4 class="price-plan__price"><span class="price-plan__currency">€ </span>249<span class="price-plan__frequency"> / mo</span></h4>
          <p class="price-plan__description">Chain stores, services and larger eCommerce, this is your place to start!</p>

          <ul class="list text-left">
            <h4 class="list__title">Features</h4>
            <li class="list__item">15000 monthly respondents</li>
            <li class="list__item">Unlimited users with different rights</li>
            <li class="list__item">Unlimited channels</li>
            <li class="list__item">All channel types*</li>
            <li class="list__item">Unlimited surveys</li>
            <li class="list__item">Own Key Account</li>
          </ul>
          <button id="plan-company" ga="page-3-submit-plan-company" class="choose-plan" data-plan="COMPANY_PLAN">Choose plan</button>

        </div>
      </div>

      <p class="small grey">* Additional charges per SMS, needs credit card info. See pricing.
All prices are 0% VAT</p>
  </div>

</div>
</div>
