<html>
  <head>
  </head>

  <body style="padding: 15px; font-size: 15px; color: #292a33; font-family: sans-serif; background-color: #f9fafb;">
    <div style="background-color: white; padding: 25px; border-radius: 3px">
      <img src="<%= dashUrl %>/images/logos/feedbackly-logo-rgb.png" width="200" height="auto">

      <div style="margin-top: 25px">
        <%- content %>
      </div>
    </div>
  </body>
</html>
